*{
    padding: 0;
    margin: 0;

}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding: 20px;
    margin-bottom: 10px;
    top: 0;
    background-color: white;
    width: 100%;
    border: solid gray 1px;
    z-index: 1;
}
.navbar__logo{
    display: flex;
    align-items: center;
    
}
.navbar__logo img{
    height: 30px;
    width: 30px;
}
.navbar__option{
    display: flex;
    gap: 20px;
}
.navbar__profile{
    display: flex;
    gap: 10px;
}
.navbar__profile:hover{
    color: black;
    background-color: transparent;
    border: solid 1px ;
    border-radius: 20px;
    padding: 7px;
}



.search{
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;


}

.search__title{
    font-size: 18px;
    text-align: center;
}

.search__content{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;

}
.search__content p:hover{
    background-color: blue;
}
.search__in{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border:groove silver 1px;
    border-radius: 30px;
    width: 600px;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    color: black;

    
}
.search__in input{

    border: none;
    height: 100%;
    width: 100%;


}
.search__in input:focus {
     outline: none;
}


.search__in button{
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color: rgb(35, 230, 116);
    color: black;
    border: transparent seagreen 1px;
    border-radius: 18px;
    padding: 10px;
    
    
}
.landscope1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landscope1 img{
    display: inline-block;
    width: 90%;
    background-color: rgb(204, 242, 245);
    margin-top: 70px;
    margin-left: 30px;

    
}

.hiys{
    display: inline-block;
    position: absolute;
    bottom: 300px;
    width: 100x;
    left: 70px; 

    color: rgb(100, 5, 64);

}
.hiys h1{
    font-size: 18px;
    padding: 10px;
}
.hiys p{
    font-size: 11px;
    padding: 10px;
}
.landscope1__desc__page{
    display: inline-block;
    background-color: rgb(100, 5, 64);
    border: solid rgb(100, 5, 64);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    color: white;

}


.poson1{

    padding: 10px;
    margin-top: 100px;
    }
.poson1 h1 {

    margin-left: 110px;

}
.poson1 h2 {

    margin-left: 110px;
    
}
    


.poson1__images{
    display: flex;
    margin-top: 20px;
    justify-content:space-around;
    border: transparent solid 1px;
    border-radius: 30px;
    
}
 

.poson2 h1 {

    margin-left: 110px;

}
.poson2 h2 {

    margin-left: 110px;
    
}
.poson2{

    margin-top: 50px;
}
.poson2__container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}
img{
    border: transparent solid 1px;
    border-radius: 20px;
}
.poson2__images{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.poson3__images{
    text-align: center;
    padding: 10px;
}

.poson3 h1 {

    margin-left: 110px;

}
.poson3 h3 {

    margin-left: 110px;
    
}

.poson3{

    padding: 10px;
    margin-top: 50px;
    
}
.poson3__container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.poson4__images{
    text-align: center;
    padding: 10px;
}

.poson4 h1 {

    margin-left: 110px;

}
.poson4 h3 {

    margin-left: 110px;
    
}

.poson4{

    padding: 10px;
    margin-top: 50px;
    
}
.poson4__container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
    

.explore{
    display: inline-block;
    padding: 20px;
    margin-top: 150px;
    background-color: antiquewhite;
    width: 100%;
    
}
.explore__container{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 30px
}
.poson5{

    padding: 10px;
    margin: 20px;
}
.poson5__images{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    border: transparent solid 1px;
    border-radius: 30px;
    margin-top: 20px;
}
.poson5 h1 {
    margin-top: 10px;
    padding: 10px;
    margin-left: 110px;

}
.poson5 h3 {

    margin-left: 110px;
    
}



.poson6{

    padding: 10px;
    margin: 20px;
}
.poson6__images{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    border: transparent solid 1px;
    border-radius: 30px;
    margin-top: 20px;
}
.poson6 h1 {
    padding: 10px;
    margin-left: 110px;
    

}
.poson6 h3 {

    margin-left: 114px;
    
}
.container{
    display: flex;
    justify-content: space-around;
    background-color:rgb(213, 226, 222);
    width: 100%;
}
.container__content{
    position: relative;
    width: 370px;
    top: 220px;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    

}
.container__next{
    display: inline;
    background-color: black;
    color: white;
    border: transparent black 1px;
    border-radius: 20px;
    padding: 13px;
    position: relative;
    top: 40px;
}
.poson7{
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
}
.poson7__container{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.poson7__content{
    height: 200px;
    width: 280px;
    font-size: 26px;
    padding: 10px;
    margin: 10px;
    

}
.poson7__container img{
    
    height: 200px;
    width: 280px;
}
.landscope2 img{
    display: inline-block;
    width: 95%;
    background-color: rgb(204, 242, 245);
    margin-top: 70px;
    margin-left: 30px;

    
}
.hiys2{
    
    position: relative;
    bottom: 410px;
    text-align: center;
    right: 500px;

}
.hiys2 h1,p{
    padding: 10px;
    font-size: 22px;
}
.hiys2 h1{
    font-size: 40px;
}

.landscope2__desc__page{
    display:inline-block;
    background-color: rgb(100, 5, 64);
    border: solid rgb(100, 5, 64);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    color: white;

}


.descrption{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    background-color: rgb(126, 163, 163);
    padding: 20px;
    margin-bottom: 300px;

}
.end{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 500px;
    padding: 14px;
}
.cook p,h4{
    padding: 5px;
    
}


@media(min-width:768px){
    .hiys{
        position: absolute;
        width: 500px;
        bottom: 250px;
        left: 50px;
        padding: 20px; 
        color: rgb(100, 5, 64);
    
    }
    .hiys h1{
        font-size: 22px;
        padding: 10px;
    }
    .hiys p{
        font-size: 13px;
        padding: 10px;
    }    
}
@media(min-width:1024px){
    .hiys{
        
        position: absolute;
        top: 520px;
        left: 100px;
        padding: 20px; 
        color: rgb(100, 5, 64);
    
    }
    .hiys h1{
        font-size: 60px;
        padding: 10px;
    }
    .hiys p{
        font-size: 20px;
        padding: 10px;
    }    
}